<html>

<head>
    <title>Login</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="id_username">Username or Email:</label>
            <input type="text" name="username" maxlength="100" required id="id_username">
        </p>
        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" required id="id_password">
        </p>
        <input type="submit" value="Login" />
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">SignUp</a></p>
    <a href="{% url 'reset-password' %}">Forgot Password</a>
</body>

</html>